<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/stylesheets/v2.css" />
		<style>
			
		</style>
	</head>
	<body>
		<ul class="nav nav-justified">
	      <li class="<%= current=='main' ? 'active' : ''%>"><a href="/">Main</a></li>
	      <li class="<%= current=='sunflower' ? 'active' : ''%>"><a href="/sunflower">太陽花學運</a></li>
	      <li class="<%= current=='mongo' ? 'active' : ''%>"><a href="/mongo">芒果</a></li>
    	</ul>
    	<div class="container mainBody">
    		<% if (typeof(mainBody) !== "undefined") {%>
    			<%- mainBody %>
    		<% } else {%>
    			<h1>5566不能亡！</h1>
    		<% } %>
    	</div>
	</body>
</html>