.c-updated
{
	color: Red;
	
}
.c-td-edit-btn
{
	text-decoration: underline;
	float:right;
	cursor: default;	
}
.c-td-edit-btn:hover
{
	color: white;	
}


.c-content
{
	float:left;	
}

.c-textarea
{
	float: left;
	width:100%;
	
}
.c-hidden
{
	display: none;	
}