<!-- linux path is different from windows one -->
<% layout('../basic.ejs') -%>
<!--  layout(global.appDir + '/views/basic.ejs') -->
<% stylesheet('stylesheets/jcubetest.css') %>
<% stylesheet('//inip.local/PUBLIC/Styles/jTable/Elegant/J10-1.1.css') %>
<% script('//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js') %>
<% script('script/jTable-2.1.s.js') %>
<% script('script/misc/jcube-test.js') %>


<div id="jCubeContainer" style="overflow:auto;">

</div>