<% layout('/basic.ejs') -%>
<% script('//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js') %>
<% script('script/todo/todo.js') -%>
<% stylesheet('stylesheets/todo/todo.css') -%>
<% stylesheet('stylesheets/ng-component.css') -%>


<div class="table-container" ng-app="myApp" ng-controller="todoCtrl">
	<input class="new-todo new-todo-input" focus-me="true" placeholder="new to-do" />
	<button class="new-todo" ">新增</button>
	<button class="new-todo">存檔</button>
	<table class="table">
    	<thead>
    		<tr>
        		<th>事項</th>
        		<th>已確認</th>
        		<th>刪除?</th>
    		</tr>
    	</thead>
    	<tbody>
    		<!--<tr ng-repeat="item in items"><td><c-textarea show-icon="true" editable="item.editable">{{item.name}}</c-content></td><td>test</td><td></td></tr>-->
    		<tr ng-repeat="item in items">
    			<td c-editflag="textarea" c-editable="item.editable" c-showicon="false">{{item.name}}</td>
    			<!--<td c-editflag="textarea">{{item.name}}</td>-->
    		</tr>	
    	</tbody>
	</table>
</div>
